<html ng-app="lolScaleApp">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <div ng-controller="ChampionDetailsCtrl">
      <div ng-show="selectedChampionService.selectionMade">
          <img ng-src="http://ddragon.leagueoflegends.com/cdn/4.19.3/img/champion/{{selectedChampionService.champSelection}}.png" ></img>
          <table id="champion_info-lower-preseason" style="position:relative; box-shadow:0 2px 5px black, inset 0 7px 5px -5px black;text-align:center;padding:12px 12px; border-spacing:0; width:100%; max-width:612px;margin:0 auto;">
              <tbody>
              <tr>
                  <td>
                      <div id="levelselectcontainer" style="position: absolute; left: auto; right: 0; white-space: nowrap; margin-right:12px;">
                          <label for="lv">Level:{{selectedLevel}}</label>
                          <select ng-model="selectedLevel"  name="lvl" id="lvl">
                            <option ng-repeat="value in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" >
                                {{value}}
                            </option>
                          </select>
                      </div>
                      <b> {{selectedChampionService.champData.id}}</b>
                  </td>
              </tr>
              <tr>
                  <td>
                      <table style="width:90%; margin:auto;">
                          <tbody>
                              <tr>
                                  <td style="text-align:left; width:95px; font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Health</span>
                                  </td>
                                  <td class="data-health">
                                      1576
                                  </td>
                                  <td style="text-align:left; width:95px; font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase"> Attack damage</span>
                                  </td>
                                  <td class="data-attack_damage">93</td>
                              </tr>
                              <tr>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Health regen</span>
                                  </td>
                                  <td class="data-health_regeneration">14.5</td>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Attack speed</span>

                                  </td>
                                  <td class="data-attack_speed">0.668 (+26.5%)</td>
                              </tr>
                              <tr>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Mana</span>
                                  </td>
                                  <td class="data-mana">997</td>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">
                                          Armor
                                      </span>
                                  </td>
                                  <td class="data-armor">67.3</td>
                              </tr>
                              <tr>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Mana regen</span>
                                  </td>
                                  <td class="data-mana_regeneration">16.6</td><td style="text-align:left;font-size:smaller;">
                                     <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Magic res.</span>
                                  </td>
                                  <td class="data-magic_resistance">30.0</td>
                              </tr>
                              <tr>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Range</span>
                                  </td>
                                  <td class="data-range"> 550 <span class="increase">(Ranged)</span></td>
                                  <td style="text-align:left;font-size:smaller;">
                                      <span style="font-weight:bold;font-size:89%;text-transform:uppercase">Mov. speed</a></span>
                                  </td>
                                  <td class="data-movement_speed"> 330</td>
                              </tr>
                          </tbody>
                      </table>
                      </td></tr>
                  <tr>
                      <td>
                      </td></tr>
                      </tbody>
                    </table>
      </div>
  </div>

  <div ng-controller="ChampionListCtrl">
    <ul class="champion-list">
      <li ng-repeat="champion in data.data">
        <div class="champion-image" >
          <img ng-click="selectChampion(champion.id)" ng-src="http://ddragon.leagueoflegends.com/cdn/4.19.3/img/champion/{{champion.image.full}}" resize></img>
        </div>
      </li>
    </ul>
  </div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
